html, body
{
  background-color: #191e2a;
  color: #d1e0ea;

  font-family: sans-serif;
  font-size: 14pt;

  height: 100%;
  margin: 0;
  padding: 0;
}

h1, h2, h3
{
  color: #69d68b;
  margin-top: 0;
  margin-bottom: 0.3em;
}

main
{
  flex: 1;
}

a
{
  color: #66abcc;
  text-decoration: none;
}

a:visited
{
  color: #9974d6;
}

p img, figure img
{
  width: 100%;
  display: block;
  margin: 0.5em 0;
}

figure
{
  margin: 1.5em 0.2em;
}

figcaption
{
  text-align: center;
  font-weight: bold;
  font-size: 0.8em;
  margin-top: 0.4em;
}

code, pre
{
  background-color: #12151E;
  color: #ccc;

  font-family: 'Inconsolata', monospace;

  overflow-x: scroll;
}

pre
{
  padding: 0.5em 1em;
}

pre code
{
  padding: 0;
}

#daily-joke-container
{
  background-color: #12151E;
  padding: 1em;
  margin-bottom: 0.8em;
}

#daily-joke-container p
{
  font-weight: bold;
  line-height: 1.2;

  margin-top: 0;
  margin-bottom: 0.6em;
}

#daily-joke-container #jokeapi
{
  font-size: 0.7em;
  font-weight: lighter;
  padding-top: 1em;
}

/* #list-of-articles, #list-of-articles li */
main ul, main li
{
  margin-left: -0.5em;
  padding-left: -0.5em;

  /* list-style-type: none; */
}

#list-of-articles, #list-of-articles li
{
  list-style-type: none;
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

#list-of-articles li
{
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 1em;
}

#list-of-articles li span
{
  font-weight: normal;
}

pre::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}
pre::-webkit-scrollbar-thumb {
  background: #5a638c;
  border-radius: 2px;
}
pre::-webkit-scrollbar-thumb:hover{
  background: #ffffff;
}
pre::-webkit-scrollbar-track{
  background: #14161f;
  /* border-radius: 2px; */
}

html::-webkit-scrollbar {
  width: 8px;
  height: 4px;
}
html::-webkit-scrollbar-thumb {
  background: #5a638c;
  border-radius: 15px;
}
html::-webkit-scrollbar-thumb:hover{
  background: #ffffff;
}
html::-webkit-scrollbar-track{
  background: #14161f;
  border-radius: 15px;
}

blockquote
{
  font-style: italic;

  padding-left: 1em;
  border-left: 0.2em solid #dc5638;
}

#page-container
{
  text-align: justify;
  hyphens: auto;

  min-height: 100%;
  max-width: 850px;
  margin: auto;
  padding: 0 1em;

  display: flex;
  flex-direction: column;
}

header
{
  width: 100%;
  padding: 1em 0;

  margin-bottom: 1em;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

#page-title
{
  color: #dc5638;

  font-size: 1.3em;
  font-weight: bold;

  text-decoration: none;
}

#links
{
  list-style: none;
  display: flex;

  padding: 0;
}

#links li
{
  margin-left: 2em;
}

#links a
{
  display: flex;
  color: #dc5638;
}

#articles
{
  list-style: none;
  padding: 0;
}

#articles li
{
  margin-bottom: 1em;
}

p
{
  line-height: 1.5;
  letter-spacing: 0.02em;

  margin-top: 0;
  margin-bottom: 1em;
  /* text-align: justify; */
}

#welcome-message
{
  text-align: left;
}

strong
{
  color: #eee;
}

footer
{
  font-size: 0.8em;

  display: flex;

  padding: 4em 0 1em;
}

footer div
{
  padding-right: 1em;

  display: inline-block;
  white-space: nowrap;
}

@media (max-width: 800px)
{
  body
  {
    font-size: 10pt;
  }

  footer
  {
    flex-direction: column;
    font-size: inherit;
  }

  footer div
  {
    margin-top: 0.4em;
  }

  pre::-webkit-scrollbar {
  width: 8px;
  height: 4px;
  }
}
